{% load static %}
{% load my_tags %}


<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>fintech_apps</title>
    
<link rel="stylesheet" href="{% static 'css/style.css' %}">
    
<nav>
  <ul class="">

      <a class="dropdown" href="{% url "index" %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
      </svg></a> 

  </ul>
</nav>
                  

<div class="head">
<h1> CLIENTE </h1>
</div>


</head>

<body class="fundo">

<br> 
                  
<form method="post">
  {% csrf_token %}
  <div class="div_back">
    <br>
  <table class="table_customer">
  <tr>
    <th class="th_table"> <b> ID </b> </th>
    <th class="th_table"> <b> NOME </b> </th>
    <th class="th_table"> <b> CPF </b> </th>
    <th class="th_table"> <b> TELEFONE </b> </th>
    <th class="th_table"> <b> NASCIMENTO </b> </th>
  </tr>
  <tr>
      <td>{{c.id}} </td>
      <td> {{c.nome}} </td>
      <td> {{c.cpf|formata_cpf}} </td>
      <td> {{c.telefone|formata_telefone}} </td>
      <td> {{c.nascimento|date:'d/m/Y'}} </td>
  </tr>                 
  </table>
  <br>
  <div class="alinhar_buttom"> 
      <a class="butoso" href="{% url "upcli" c.id %}">ATUALIZAR DADOS DO CLIENTE</a>
  </form>      
      <a class="butoso" href="{% url "form" c.id %}"> LANÇAR PARCELAS </a>
  </div>
</div>
<br> 

<form method="post">
        
{% csrf_token %}
       
<table class='responsive_table'>
  
<tr class="head">

    <th> <button type="submit" class="trash" name="b_d_p"> 
    <svg class="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
    </svg> </button> </th>
    
    <th>STATUS</th>
    <th>NOME</th>
    <th>CURSO</th>
    <th>TURMA</th>
    <th>PARCELAS</th>
    <th>VALOR</th>
    <th>VENCIMENTO</th>
    <th>BANCO </th>
    <th>COMPROVANTE</th>
    <th>PAGAMENTO</th>
    <th>AÇÕES</th>
        
</tr>             
  
{% for f in fin %}

<tr>
    <td> <input type="checkbox" class="check" value="{{f.id}}" name="ids_slct_fin"><br> </td> 
    {% if f.status == 'Recebido' %}
    <td class="green"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
      <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
      <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
      </svg> {{f.status}} <br> </td>
    {% else %}
    <td class="orange"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
      <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
    </svg> 
    {{f.status}} 
    <br> 
    </td>
    {% endif %}
    <td> {{f.cliente}} <br> </td>
    <td> {{f.curso}}   <br> </td>
    <td> {{f.turma}}   <br> </td>
    <td> {{f.parcela}} <br> </td>
    <td> R$ {{f.valor}},00 <br> </td>
    <td type="date"> {{f.vencimento|date:'d/m/Y'}} <br> </td>
    <td>{{f.banco}}</td>
    <td>{{f.arquivo}}</td>
    <td>{{f.data_pagamento|date:'d/m/Y'}}</td>
    <td> 
    <a href="{% url "upfin" c.id f.id %}" class="gold"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
      <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
      <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
    </svg>
   </a> 
    <br> 
  </td>
</tr>

  {% endfor %}
              
</table>

</form>      
      
</body>

</html>