{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fintech_apps</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <div class="">
      <nav>
        <ul class="">
         <li class="dropdown"> 
            <a class="dropdown" href="">MENU»</a> 
            <div class="dropdown-menu">
              <a class="inse" href="{% url "index" %}">Home</a>              
          </li>
        </ul>
      </nav>
    </div>

  <div class="head">
    <a href="{% url "cliente" c.id %}"> <h1> REGISTRAR PAGAMENTO </h1> </a>
  </div>


</head>

<body class="fundo">
    
  
    <br> <br>

    <div class="dados_parcela">
    
      <form class="" action="{% url "cliente" c.id %}" method="post">
        {% csrf_token %}

        <table class="table_customer">
          <tr>
            <br>
            <tr> <b> INFORMAÇÕES DA PARCELA </b> </tr> <br> <br>
              <th class="th_table"> <b> NOME </b> </th>
              <th class="th_table"> <b> PARCELA </b> </th>
              <th class="th_table"><b> VALOR </b></th>
          </tr>
          <tr>
              <td> <input class="pesquisa_three" type="text" id="nome" name="nom_cli" value="{{f.cliente}}" required> </td>
              <td> <input class="pesquisa_three" type="text" id="cpf" name="cpf_cli" value="{{f.parcela}}" required> </td>
              <td> <input class="pesquisa_three" type="text" id="valor" name="tel_cli" value="{{f.valor}},00" required> </td>
          </tr> 
        </table>
        <br>
        <table class="table_customer">
          <tr>
            <th class="th_table"><b> VENCIMENTO </b></th>
            <th class="th_table"><b> PAGAMENTO </b></th>
            <th class="th_table"><b>  BANCO </b></th>
          </tr>             
          <tr>
            <td> <input class="pesquisa_three" type="text" id="vencimento" name="nsc_cli" value="{{f.data|date:'d/m/Y'}}" required> </td>
            <td> <input class="pesquisa_three" type="date" id="pagamento" name="pg_cli" value="" required> </td>
            <td><input class="pesquisa_three" type="text"></td>
          </tr>
        </table>
        <br>
        <input class="inputing" type="file">
        <br> 
        <button class="butoso_two" stype="submit" name="i_p">Registrar</button>
      </form>
    </div>
</body>




</html>