{% load static %}
{% load my_tags %}


<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>fintech_apps</title>
    
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<nav>
  <ul class="">

      <a class="dropdown" href="{% url "cliente" c.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
      </svg></a> 

  </ul>
</nav>
                      

<div class="head">
<a href="{% url "index" %}"> <h1> ATUALIZAR DADOS DO CLIENTE </h1> </a>
</div>


</head>

<body class="fundo">

<br> <br> 

<div class="dados_cliente">
                   
<br>
<form method="post" action="{% url "cliente" c.id %}">
  {% csrf_token %}
  <br><br>
  <tr> 
<b> DADOS DO CLIENTE </b> </tr> <br> <br>
<table class="table_customer">
<tr>
  <th class="th_table"> <b> NOME </b> </th>
  <th class="th_table"> <b> CPF </b> </th>
  <th class="th_table"> <b> TELEFONE </b> </th>
  <th class="th_table"> <b> NASCIMENTO </b> </th>
</tr>
<tr>
    <input class="pesquisa_three" type="hidden" id="id" name="up_id_cli" value="{{c.id}} " required> 
    <td> <input class="pesquisa_three" type="text" id="nome" name="up_nom_cli" value="{{c.nome}} " required> </td>
    <td> <input class="pesquisa_three" type="text" id="cpf" name="up_cpf_cli" value="{{c.cpf|formata_cpf}}" required> </td>
    <td> <input class="pesquisa_three" type="text" id="telefone" name="up_tel_cli" value="{{c.telefone}}" required> </td>
    <td> <input class="pesquisa_three" type="text" id="nascimento" name="up_nsc_cli" value="{{c.nascimento|date:'d/m/Y'}}" required> </td>
</tr>                 
</table>
<br>
<div class="alinhar_buttom">
    <button class="butoso" stype="submit" name="up_date_cli">ATUALIZAR</button> 
</form>      
<br><br>      
</div>
      
</body>

</html>