{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fintech_apps</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <div class="">
      <nav>
        <ul class="">
         <li class="dropdown"> 
            <a class="dropdown" href="">MENU»</a> 
            <div class="dropdown-menu">
              <a class="inse" href="{% url "index" %}">Home</a>              
          </li>
        </ul>
      </nav>
    </div>

  <div class="head">
    <a href="{% url "cliente" c.id %}"> <h1> REGISTRAR PAGAMENTO </h1> </a>
  </div>


</head>

<body class="fundo">
    
  
    <br> <br>
    <!-- vamos editar corretamente --> 
    <div class="dados_parcela">
    
      <form class="" action="{% url "cliente" c.id %}" method="post">
        {% csrf_token %}
          <br> <br> <br>
          <tr> <b> INFORMAÇÕES DA PARCELA </b> </tr> <br> <br>          

        <table class="table_customer">
          <tr>
            <th class="th_table"> <b> PARCELA </b> </th>
            <th class="th_table"> <b> VALOR </b> </th>
            <th class="th_table"> <b> VENCIMENTO </b> </th>
          </tr>             
          <tr>
            <td> {{f.parcela}} </td>
            <td> {{f.valor}},00 </td>
            <td> {{f.vencimento|date:'d/m/Y'}} </td>
          </tr>
          <tr>--------------------------------------------------</tr>
          <tr> 
            <th class="th_table"> <b> PAGAMENTO </b> </th>
            <th class="th_table"> <b> BANCO </b> </th>
            <th class="th_table"> <b>  COMPROVANTE </b> </th>
          </tr>
          <tr>
            <td> <input class="pesquisa_three" type="date" id="pagamento" name="up_pg_cli" value="" required> </td>
            <td> <input class="pesquisa_three" type="text"> </td>
            <td> <input class="inputing" type="file"> </td>
          </tr>
        </table>
        <br>
        <br> 
        <button class="butoso_two" stype="submit" name="upd_p">Salvar</button>
      </form>
    </div>
</body>

</html>