{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fintech_apps</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <nav>
      <ul class="">
    
          <a class="dropdown" href="{% url "cliente" c.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
          </svg></a> 
    
      </ul>
    </nav>

  <div class="head">
    <h1> REGISTRAR PAGAMENTO </h1>
  </div>


</head>

<body class="fundo">
    
  
    <br> <br>
    <!-- vamos editar corretamente --> 
    <div class="dados_parcela">
    
      <form class="" action="{% url "cliente" c.id %}" method="post">
        {% csrf_token %}
          <br> <br> <br>
          <tr> <b> INFORMAÇÕES DA PARCELA </b> </tr> <br> <br>
          <input type="hidden" name="id_up_f" value="{{f.id}}">          

        <table class="table_customer">
          <tr>
            <th class="th_table"> <b> PARCELA </b> </th>
            <th class="th_table"> <b> VALOR </b> </th>
            <th class="th_table"> <b> VENCIMENTO </b> </th>
          </tr>             
          <tr>
            <td> <input class="pesquisa_three" type="text" name value="{{f.parcela}}"> </td>
            <td> <input class="pesquisa_three" type="text" value="{{f.valor}},00"> </td>
            <td> <input class="pesquisa_three" type="text" value="{{f.vencimento|date:'d/m/Y'}}"> </td>
          </tr>

          <tr> 
            <th class="th_table"> <b> PAGAMENTO </b> </th>
            <th class="th_table"> <b> BANCO </b> </th>
            <th class="th_table"> <b>  COMPROVANTE </b> </th>
          </tr>
          <tr>
              <td> <input class="pesquisa_three" type="date" name="up_pg_cli"> </td>
              <td> <input class="pesquisa_three" type="text" name="up_banco"> </td>
              <td> <input class="inputing" type="file" name="up_file"> </td>
          </tr>
        </table>
              <br>
              <br> 
        <button class="butoso_two" stype="submit" name="upd_p">Salvar</button>
      </form>
    </div>
</body>

</html>