{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fintech_apps</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <div class="div_ul">
  </div>

    <div class="head">
        <h1> ENTRAR </h1> 
    </div>

</head>

<body class="fundo">
    <br> <br>

    <div class="form">
      <img src="{{comprovante.arquivo.url}}" alt="{{comprovante}}">
    </div>
</body>




</html>